---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About Me" description="Information about the site author">
  <section>
    <h2>About Me</h2>
    <p>I'm Ashwin Prasad H, a software engineer at Zoho.</p>

    <p>
    I'm into all things computer science, but lately I've been especially
    drawn to database engineering and reinforcement learning. I use this blog
    to share thoughts on whatever engineering concept that intrigues me.
    </p>

    <p>
    This blog also doubles as my note-taking system, since my memory isn't the
    best. If you find something useful here, that's a win for both of us.
    </p>

    <h3>Contact</h3>
    <ul>
    <li><strong>Github:</strong> <a href="https://github.com/ashwinhprasad">ashwinhprasad</a></li>
    <li><strong>Mail:</strong> <a href="mailto:xxx@gmail.com">ashwinprasad202@gmail.com</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/">Ashwin Prasad H</a></li>
    </ul>
  </section>
</BaseLayout>